In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

# Data cleaning
> raw data typically comes with ```NaN``` or fansy values which could not be efficiantly analyse
> ```Data cleaning``` comes in handy for furthermore ```data analysis``` e.g. ```data visulyzation```

In [26]:
df_series = pd.Series([1,2,3,4,5], [4,6,8,11,2])

In [18]:
df_csv = pd.read_csv(r"C:/users/hello/desktop/sales_data.csv")

## Data contains ```NaN``` or missing value

In [30]:
df = pd.DataFrame(data={
    "Temp": [1, np.nan, 3, 6, 10],
    "Humid": [3, np.nan, np.nan, 1, 3]
})

In [31]:
df

   Temp  Humid
0   1.0    3.0
1   NaN    NaN
2   3.0    NaN
3   6.0    1.0
4  10.0    3.0

## dropna
> ```df.dropna(how='?')``` ?default= 'any' which drop the entire row if there is a single value is ```NaN``` 

> set ```how='all'``` for targeting only specific row the all the value of it are ```NaN```

In [33]:
df.dropna(how='all')

   Temp  Humid
0   1.0    3.0
2   3.0    NaN
3   6.0    1.0
4  10.0    3.0

## fillna
> fill ```NaN``` value with specific value

In [34]:
df.fillna(0)

   Temp  Humid
0   1.0    3.0
1   0.0    0.0
2   3.0    0.0
3   6.0    1.0
4  10.0    3.0